@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="range"] {
  @apply appearance-none h-2 rounded-full bg-slate-200;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-5 h-5 rounded-full bg-blue-600 cursor-pointer;
}

input[type="range"]::-moz-range-thumb {
  @apply w-5 h-5 rounded-full bg-blue-600 cursor-pointer border-0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}
